:root {
    --purple: #8b51fe;
}
body{
    background-color: #333;
}
#content{
    display: flex;
    flex-direction: row;
}
#content-img{
    display: block;
    max-width: 30%;
    align-items: center;
    flex-grow: 1;
}
.profile{
    display: block;
    position: absolute;
    left: 5%;
    top: 50%;
    height: 40vh;
    width: auto;
    border-radius: 25px;
    transform: translateY(-60%);
}
#content-msg{
    flex-grow: 1;
    font-size: 5em;
    align-items: center;
}
h1, p, button{
    transform: translateY(40vh);
}
.head,
.name{
    font-family: 'Press Start 2P', cursive;
    margin: 0%;
}
.msg{
    color: #AAF;
    font-size: 2em;
    margin: 0%;
    font-family: 'Pixelify Sans', cursive;
}
.head{
    color: white;
}
.name{
    color: var(--purple);
}
.btn{
    font-family: 'Pixelify Sans', cursive;
    text-decoration: none;
    font-size: 1em;
    margin: 0;
    margin-top: 1em;  
    padding: 0.5em;
    border: 0px;
    border-radius: 5px;
}
.btn:hover{
    color: white;
    background-color: var(--purple);
}

.page{
    color: var(--purple);
    font-family: 'Press Start 2P', cursive;
    margin: 3em 1em 1em 1em;
    width: 100%;
    transform: translateY(0vh);
}
.image-grid{
    display: flex;
    flex-wrap: wrap;
}
.gallery{
    height: auto;
    width: 30%;
    display: flex;
    flex-grow: 1;
    flex-basis: auto;
    margin-bottom: 10px;
}
